/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0;
}
.bg_container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h {
  text-align: center;
}

.personCard {
  background-color: #cffafe;
  padding: 30px;
  text-align: center;
}
